name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: List repo files
      run: ls -R

    - name: Deploy monitoring (skipped)
      run: echo "deploy-monitoring.sh script is skipped for now"
