name: Deploy Monitoring & Ingress

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: List repo files
      run: ls -R

    - name: Make deploy scripts executable
      run: |
        chmod +x ansible-cluster/deploy-monitoring.sh
        chmod +x ansible-cluster/deploy-ingress.sh

    - name: Run deploy-monitoring.sh
      run: ./ansible-cluster/deploy-monitoring.sh

    - name: Run deploy-ingress.sh
      run: ./ansible-cluster/deploy-ingress.sh
