name: Deploy Monitoring

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-monitoring:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Show repo structure
      run: ls -R

    - name: Make deploy script executable
      run: chmod +x ./ansible-cluster/deploy-monitoring.sh

    - name: Run deploy monitoring script
      run: ./ansible-cluster/deploy-monitoring.sh

