name: Deploy Monitoring & Ingress

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Make scripts executable
      run: |
        chmod +x deploy-monitoring.sh
        chmod +x deploy-ingress.sh

    - name: Deploy Monitoring Stack
      run: ./deploy-monitoring.sh

    - name: Deploy Ingress
      run: ./deploy-ingress.sh

    - name: List monitoring namespace pods
      run: kubectl get pods -n monitoring

    - name: List ingress namespace pods
      run: kubectl get pods -n ingress
